body{
    margin: 0;
    font-family: arial,宋体,'微软雅黑',serif,sans-serif;
    font-size: 12px;
}
#top{
    float: right;
    /*background-color: antiquewhite;*/
    width: 100%;
    /*height: 34px;*/
    line-height: 20px;
    text-align: right;
    /*position: relative;*/
    padding-right: 36px;
}
.nav{
    color: #000;
    margin-left: 20px;
}
.mnav{
    font-weight: bold;
}
#body{
    margin: 30px auto;
    width: 800px;
    /*height: 500px;*/
    text-align: center;
    /*background-color: #e0fe51;*/
}
#body p{
    text-align: center;
}
#body .s-input{
    /*float: left;*/
    width:539px;
    height:30px;
    margin-right: 0;
    padding-right: 0;

}
#body .s-btn{
    /*float: left;*/
    background: #3384fe;
    width: 100px;
    height: 36px;
    color: #fff;
    border-style: none;
    border-bottom: 1px solid #3384fe;
    padding: 0;
    margin-left: 0;
}
.bdform{
    font-size: 0;
    margin: 5px auto;
}
#footer{

    text-align: center;
}
.blank{
    height:200px;
}
.ft{
    margin-left: 10px;
}