/* Global */
body, h1, h2, h3, p, div, ol, ul, input, button, i {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center;*/
}

@font-face {
    font-family: icons;
    src: url(../../fonts/iconfont_f0abbec7.eot);/*IE9兼容模式*/
    src: url(../../fonts/iconfont_f0abbec7.eot#iefix) format('embedded-opentype'),
    url(../../fonts/iconfont_f0abbec7.woff) format('woff'),
    url(../../fonts/iconfont_f0abbec7.ttf) format('truetype'),
    url(//m.baidu.com/static/index/iconfont/iconfont_f0abbec7.svg?#iconfont) format('svg');
    font-weight: 400;
    font-style: normal;
}

input, button {
    -webkit-box-sizing: border-box;
}

ul {
    list-style: none;
}

a, a:link, a:visited, a:focus {
    text-decoration: none;
}

/*内容*/
.page[class^=icon-], .page[class*=" icon-"] {
    font-family: icons;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

.page {
    width: 100%;
}

#weather {
    position: relative;
}

.weather-outline {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    line-height: 48px;
}

.weather-outline > * {
    display: inline-block;
}

.wea-num {
    font-size: 30px;
    color: #818388;
}

.wea-detail {
    position: relative;
    padding: 0 6px;
    top: 1px;
}

.wea-detail p {
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    color: #7e818a;
}

.wea-detail:before {
    content: '';
    height: 26px;
    border-left: 1px solid #eee;
    position: absolute;
    left: -0.5px;
}

/*天气icon*/
.icon-wea-default {
    color: #B7BABE;
    font-size: 28px;
}

/*下三角*/
.icon-down:before {
    content: '\e612';
    color: #b6b7ba;
    font: 17px/1 icons;
}

/*header*/
.header {
    padding-bottom: 10px;
}

/*右上角用户头像*/
.user-info-wrap {
    height: 54px;
    position: relative;
}

#login {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 7px;
    color: #b2b4ba;
    font-size: 28px;
    line-height: 20px;
}

/*logo图片*/
.logo-img {
    height: 55px;
    padding: 17px 0 15px;
    text-align: center;
}

.logo-img img {
    width: 175px;
    height: 55px;
}

/*搜索输入框*/
#header-form {
    margin: 0 10px;
    border: 1px solid #8d9394;
    border-radius: 1px;
    height: 42px;
    -webkit-box-shadow: 0 1px 1px #dfdfdf;
    background-color: #fff;
    text-align: center;
}

.con-wrapper {
    /*流体布局*/
    display: -webkit-box;
}

.con-wrapper .se-input {
    display: block;
    -webkit-box-flex: 1;
    border: none;
    padding: 7px 42px 7px 6px;
    height: 42px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.se-inner {
    width: 79px;
    position: relative;
}

.se-inner .se-btn {
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    font-size: 16px;
    font-weight: 700;
    background: -webkit-linear-gradient(top, #f9f9f9, #e7e9eb);
    color: #46484b;
    line-height: 42px;
    border-style: none;
    border-left: 1px solid #8d9394;
    letter-spacing: -1px;
}

.callIconWrap {
    position: absolute;
    top: 0;
    left: -39px;
    z-index: 10;
}

.baiduapp-icon {
    width: 39px;
    height: 39px;
    text-align: left;
}

.baiduapp-icon:before {
    content: '';
    border: 4px solid transparent;
    border-top-color: #717077;
    position: absolute;
    right: 12px;
    top: 18px;
}

.baiduapp-icon:after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 15px;
    background: url("../../images/callicon.png");
    background-size: 37px 20px;
    margin-top: 10px;
}

/*导航*/
#navs {
    margin: 17px 0 14px;
    overflow: hidden;
    text-align: center;
}

#navs a {
    float: left;
    width: 16%;
    font-size: 13px;
    color: #262626;
}

#navs a:first-child, #navs a:nth-child(7) {
    margin-left: 2%;
}

#navs a i {
    display: block;
    margin-bottom: 4px;
    height: 24px;
}

.navs-news:before {
    content: "\e672";
    color: #777;
    font: 24px/1 icons;
}

.navs-novel:before {
    content: "\e676";
    color: #777;
    font: 24px/1 icons;
}

.navs-video:before {
    content: "\e66f";
    color: #777;
    font: 24px/1 icons;
}

.navs-life:before {
    content: "\e730";
    color: #777;
    font: 24px/1 icons;
}

.navs-map:before {
    content: "\e66c";
    color: #777;
    font: 24px/1 icons;
}

.navs-more:before {
    content: "\e674";
    color: #777;
    font: 24px/1 icons;
}

/*常用网址*/
#plus-card {
    position: relative;
    padding: 2px 10px 10px;
}

.plus {
    border: 1px solid #d9dde2;
    margin-top: 8px;
    background: #fff;
}

.plus-title {
    margin: 2px 14px 0;
    height: 40px;
    position: relative;
}

.normal-title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.normal-title > i {
    position: absolute;
    top: 11px;
    left: -2px;
}

.icon-nav:before {
    content: '\e609';
    color: #6fb5e9;
    font: 18px/1 icons;
}

.normal-title h2 {
    padding-left: 19px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #aaa;
}

.plus-edit {
    display: block;
    width: 40px;
    height: 34px;
    line-height: 40px;
    position: absolute;
    right: -12px;
    top: 0;
    text-align: center;
}

.icon-edit {
    width: 40px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-edit:before {
    content: '\e650';
    color: #b6b7ba;
    font: 20px/34px icons;
}

.plus-content {
    overflow: hidden;
    margin-top: -5px;
    font-size: 14px;
}

#nav-list a {
    display: block;
    width: 25%;
    height: 42px;
    line-height: 42px;
    float: left;
    -webkit-box-sizing: border-box;
    padding: 0 6px;
    text-align: center;
}

.plus-content > a.hao123 {
    letter-spacing: -1px;
}

.plus-content a {
    color: #262626;
}

#nav-list a span {
    display: inline-block;
    padding: 0 6px 0 5px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    position: relative;
}

#nav-list a.new span:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #f74747;
    position: absolute;
    top: 11px;
}

/*实时热点*/
.icon-news:before {
    content: '\e610';
    color: #7db164;
    font: 18px/1 icons;
}

.refresh {
    display: block;
    width: 82px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 0;
    right: 22px;
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
}

.icon-refresh {
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 2px;
    left: -2px;
}

.icon-refresh:before {
    content: '\e60d';
    color: #b6b7ba;
    font: 18px/34px icons;
}

#hotword-list {
    padding: 0 14px;
}

#hotword-list li {
    width: 50%;
    height: 42px;
    line-height: 42px;
    float: left;
}

/*选择偶数列li*/
#hotword-list li:nth-child(2n) {
    text-indent: 14px;
    /*background-color: #84b95d;*/
}

#hotword-list li a {
    position: relative;
    display: inline-block;
    padding-right: 17px;
    max-width: 86%;
}

#hotword-list a:visited {
    color: #777;
}

.hot:after {
    content: '\e653';
    font: 20px/1 icons;
    color: #fb4343;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 2px;
    right: -1px;
}

.hot-search {
    height: 42px;
    line-height: 43px;
    text-align: right;
    border-top: 1px solid #f4f5f6;
}

.hot-search a {
    display: inline-block;
    padding-right: 14px;
    font-size: 14px;
    color: #0058d2;
}

.icon-arrow-right:before {
    content: '\e62f';
    color: #0058d2;
    font: 13px/1 icons;
}