#wrapper{
    width: 100%;
    height:100%;
    background-color: #fff;
    position: relative;
}
#index_view{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    background-color: #fff;
}
#index_view .ui-new-toolbar{
    background-image: url("../img/bg-news-logo_344ce44.png");
    background-position: center 6px;
    background-repeat: no-repeat;
    -webkit-background-size:77px auto;
    background-size:77px auto;
}
.ui-new-toolbar{
    position: relative;
    min-width: 320px;
    height: 44px;
    background-color: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.ui-new-toolbar-l,.ui-new-toolbar-r{
    position: absolute;
    height:100%;
    overflow: hidden;
}
.ui-new-toolbar .ui-new-toolbar-l{
    left:0;
    top:0;
}
.ui-new-toolbar,.ui-new-toolbar-r{
    top:0;
    right:0;
}
.ui-new-toolbar-btn{
    width: 34px;
    height:100%;
    font-size: 15px;
    line-height: 44px;
}
.btn-baidu{
    background-position: center 4px;
}
.btn-userhome{
    background-position: center -463px ;
    margin-left: 10px;
}
.btn-search{
    background-position: center -162px;
    margin-left: 10px;
}
.btn-subscribe{
    background-position: center -107px;
}
#index_view_navigator{
    position: relative;
    background-color: #3e98f0;
    overflow: hidden;
    color: #fff;
}
.divider{
    height: 1px;
    background-color: #5dabf0;
    margin:0 10px;
}
#index_view_navigator .content{
    padding-top: 3px;
    padding-bottom: 5px;
}
#index_view_navigator .content table{
    width:100%;
    table-layout: fixed;
}
#index_view_navigator .content td{
    height: 33px;
    line-height: 32px;
    font-size:16px;
    /*font-weight:400;*/
    text-align: center;
}
#index_view_navigator .content td>div{
    position: relative;
    height:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#index_view_navigator .content td b{
    position: absolute;
    top:10px;
    left:0;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}
#index_view_navigator .content td:first-child b{
    left: -1px;
}
#index_view_navigator .content td span{
    padding-bottom: 3px;
}
#index_view_navigator .content td span.cur{
    border-bottom: 1px solid #fff;
    margin:0 2px;
}
#index_view_navigator .more{
    position: absolute;
    left:1px;
    top:0;
    right:0;
    bottom:0;
    overflow-y: hidden;
    background-color: #3e98f0;
    color: #fff;
    text-align: center;
}
#index_view_navigator .more .down-triangle,#index_view_navigator .less .up-triangle{
    display: inline-block;
    position: absolute;
    right: 4px;
    top:14px;
    width:0;
    height:0;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
#index_view_navigator .more .down-triangle{
    right: 2px;
    border-top:4px solid #fff;
}
#index_view_navigator .footer {
    position: relative;
    height: 41px;
    border-bottom: 0 inset #bbc2ce;
    background-color: #3e98f0;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
}
#index_view_navigator .footer .btn-group {
    position: absolute;
    top: 6px;
    left: 10px;
    bottom: 6px;
}
#index_view_navigator .footer .manage-subscribe, #index_view_navigator .footer .add-subscribe, #index_view_navigator .footer .media-rank, #index_view_navigator .footer .reporter-rank {
    float: left;
    padding-right: 10px;
    text-align: left;
}
#index_view_navigator .footer .media-rank {
    position: relative;
    margin-left: 10px;
}
#index_view_navigator .footer .manage-subscribe b, #index_view_navigator .footer .media-rank b {
    display: block;
    position: absolute;
    top: 9px;
    left: -11px;
    height: 12px;
    width: 1px;
    background-color: #5dabf0;
}
#index_view_navigator .footer .manage-subscribe {
    position: relative;
    width: 96px;
    margin-left: 10px;
}
#index_view_navigator .less {
    position: absolute;
    top: 6px;
    right: 8px;
    bottom: 6px;
    width: 52px;
    padding-right: 4px;
    color: #fff;
}
#index_view_navigator .less .up-triangle {
    border-bottom: 4px solid #fff;
}
/*内容主体*/
.index-view-subpage {
    position: relative;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.index-list{
    width:100%;
    background-color: #fff;
}
.index-list-item {
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    padding:10px 0;
    margin:0 10px;
}
.index-list-item .index-list-image {
    font-size: 0;
    height: 68px;
    vertical-align: middle;
    width: 95px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    background-color: #F4F7F9;
    position: relative;
}
.ivideoplay {
    display: none;
    background: url(../img/videoplay_1717b47.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.index-list-item .index-list-image img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.showleft .index-list-main-text {
    height: 40px;
}
.index-list-item .index-list-main-text {
    max-height: 40px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}
.index-list-item .index-list-main-title {
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
}
.index-list-item .index-list-main-abs {
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
}
.index-list-bottom {
    margin-top: 10px;
}
.index-list-item .index-list-main-time {
    font-size: 12px;
    color: #b8bac0;
    font-weight: 400;
    line-height:20px;
    text-align: left;
}
.index-list-item .tip-fillred {
    background-color: #e02f2f;
    border: 1px solid transparent;
}
.index-list-main-site {
    display: none;
    padding-right: 10px;
}
.ui-refresh{
    height:36px;
    line-height: 36px;
    background-color: #f8f9fa;
    text-align: center;
    border:1px solid #ebedef;
    border-radius: 1px;
    color: #545454;
    margin:14px 50px;
}
.ui-footer{
    height: 44px;
    overflow: hidden;
    background-color: #239bf0;
    line-height: 22px;
    font-size: 13px;
}
.ui-footer .item-wrapper{
    float: left;
    width:33.3%;
    height: 21px;
    margin-top:12px;
    text-align: center;
    color:#fff;
    margin-left: -1px;
    border-left:1px solid #4fadf0;
}
.ui-footer .item-wrapper:first-child{
    margin-left: 0;
    border-left: 0;
}
.ui-footer .item {
    display: inline-block;
    height: 100%;
    padding-left: 25px;
}
.ui-footer .feedback, .ui-footer .app-recommend, .ui-footer .app-download {
    background-image: url("../img/bg-footer_7e7ec6c%20(1).png");
    background-repeat: no-repeat;
    -webkit-background-size: 30px 300px;
}
.ui-footer .feedback {
    background-position: 0 3px;
}
.ui-footer .app-recommend {
    background-position: 0 -31px;
}
.ui-footer .app-download {
    background-position: 0 -64px;
}



































